

<h1>Data-Driven Web</h1>
<p>Ik ben dus {{ person.name }}</p>
<p>Het is vandaag {{ 'now' | date: "%d %b %Y %H:%M" }}</p>
<p>{{ person.overmij }}</p>
{{person.custom.beleg}}
<h2>mijn custom property</h2>
<p>Op brood ik eet ik vaak {{ custom.beleg }}</p>
<details><summary>Data</summary><pre>{{ person | json:4 }}</pre></details>
